<a href="javascript: void(0)" class="dropdown-toggle" id="products" data-toggle="dropdown">
    <span class="caret"></span>
</a>
<ul class="dropdown-menu categories" role="menu" aria-labelledby="products" style="padding: 40px 20px;">
    <li role="presentation">
        <div class="category">
            <ul id="nav" class="list-unstyled sub-menu-product">
                <li>
                    <h4>NỘI THẤT GIA ĐÌNH</h4>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Phòng Khách</span>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Phòng Ngủ</span>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Phòng Tắm</span>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Phòng bêp</span>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Đèb trang trí</span>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> <span>Tủ kê đựng đô</span>
                </li>
                <li>
                    <img src="~/assets/images/home/body/product/product1.jpg" alt="" style="width: 110px;" />
                </li>
            </ul>
        </div>
    </li>
    <li role="presentation">
        <div class="category">
            <ul class="list-unstyled sub-menu-product">
                <li>
                    <h4>NỘI THẤT VĂN PHÒNG</h4>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Bàn Ghế Bộ
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Sofa Bộ
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Bàn Làm Việc
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Tủ Tài Liệu
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Đèn Bàn
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Đèn Treo Tường
                </li>
                <li>
                    <img src="~/assets/images/home/body/product/product2.jpg" alt="" style="width: 110px;" />
                </li>
            </ul>
        </div>
    </li>
    <li role="presentation">
        <div class="category">
            <ul class="list-unstyled sub-menu-product">
                <li>
                    <h4>NỘI THẤT BAR/CAFE</h4>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Phòng Khách
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Phòng Ngủ
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Phòng Tắm
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Phòng bêp
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Đèb trang trí
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Tủ kê đựng đô
                </li>
                <li>
                    <img src="~/assets/images/home/body/product/product1.jpg" alt="" style="width: 110px;" />
                </li>
            </ul>
        </div>
    </li>
    <li role="presentation">
        <div class="category">
            <ul class="list-unstyled sub-menu-product">
                <li>
                    <h4>ĐÈN NỘI THẤT</h4>
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Bàn Ghế Bộ
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Sofa Bộ
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Bàn Làm Việc
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Tủ Tài Liệu
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Đèn Bàn
                </li>
                <li>
                    <i class="fa fa-caret-right"></i> Đèn Treo Tường
                </li>
                <li>
                    <img src="~/assets/images/home/body/product/product1.jpg" alt="" style="width: 110px;" />
                </li>
            </ul>
        </div>
    </li>
    <li role="presentation">
        <img src="~/assets/images/home/mega menu/mm-right.jpg" alt="" />
    </li>
</ul>

