@using RealEstateWebUI.Areas.admin.Models;

@{
    ViewBag.Title = Common.StoreName + " | Chi tiết tin tức";
    Layout = "~/Areas/client/Views/Shared/MasterPageClient.cshtml";
}

@Html.Partial("~/Areas/client/Views/Shared/_TopBarWhite.cshtml")

<div class="header-page" style="background-image: url('/assets/images/home/slide/back-ground.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4>Tin tức</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 header-page-right" style="margin: 10px 0;">
                <i class="fa fa-home"></i>
                <a href="/">Trang chủ</a> / <a href="/client/blogs">Tin tức</a>
            </div>
        </div>
    </div>
</div>

<div class="blog-detail" style="padding: 10px 0 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="padding: 30px 0;">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="border-bottom">
                                    <span>TIN TỨC</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="new-blog">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img src="~/assets/images/blog/new/news1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <p>Thiết kế nội thất phòng khách đơn giản cho ngôi nhà nhỏ</p>
                            </div>
                        </div>
                    </div>
                    <p class="border-bottom"></p>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="new-blog">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img src="~/assets/images/blog/new/news2.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <p>Phòng ngủ với không gian xanh và ánh sáng hợp lý</p>
                            </div>
                        </div>
                    </div>
                    <p class="border-bottom"></p>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="new-blog">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img src="~/assets/images/blog/new/news3.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <p>Bộ sưu tập nội thất quầy bar phong cách cổ điển Châu Âu</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="border-bottom">
                                    <span>BLOG TAGS</span>
                                </h4>
                                <span class="border-bottom"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default none-border margin-5">XU HƯƠNG</button>
                                <button class="btn btn-default none-border margin-5">2015</button>
                                <button class="btn btn-default none-border margin-5">Vintage</button>
                                <button class="btn btn-default none-border margin-5">Vest</button>
                                <button class="btn btn-default none-border margin-5">Xuân hè</button>
                                <button class="btn btn-default none-border margin-5">Denim</button>
                                <button class="btn btn-default none-border margin-5">Xu hướng</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="border-bottom">
                                    <span>VIDEO MỚI</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="new-video">
                        <div style="height: 146px;">
                            <div class="fill" style="background-image:url('/assets/images/blog/new video/videos.jpg')"></div>
                        </div>
                        <div class="play-video">
                            <i class="fa fa-caret-right"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" style="margin-top: 20px;">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="news-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 style="font-size: 26px;">
                                            Sáng tạo không gian sống cho ngôi nhà thân yêu
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 text-muted" style="display: inline-flex;">
                                        <div class="margin-right-20">
                                            <i class="fa fa-calendar"></i>
                                            18/7/2015
                                        </div>
                                        <div class="margin-right-20">
                                            <i class="fa fa-edit"></i>
                                            Mai Linh
                                        </div>
                                        <div class="margin-right-20">
                                            <i class="fa fa-comment-o"></i>
                                            8 nhận xét
                                        </div>
                                        <div">
                                            <i class="fa fa-tag"></i>
                                            Sofa
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="/assets/images/home/body/blog/bolg1.jpg" alt="" style="width: 100%; height: 100%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>
                                    Với mong muốn góp phần xây dựng một xã hội tốt đẹp hơn, nơi quyền con người được tôn vinh và môi
                                    trường được bảo vệ, Bizweb triển khai chương trình hỗ trợ thiết kế website miễn phí cho các tổ
                                    chức thiện nguyện, phi chính phủ và hiệp hội ngành nghề. Hi vọng rằng, với 1 website hiện đại
                                    và chuyên nghiệp, các tổ chức sẽ phát triển lớn mạnh và nhân lên nhiều giá trị có ích cho cộng đồng.
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57a302468ab5219e"></script>
                                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                        <div class="addthis_sharing_toolbox"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>BÌNH LUẬN</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-lg-12" style="display:inline-flex;">
                                                    <img src="~/assets/images/blog/blog/avatar-img.jpg" alt="" class="img-circle" />
                                                    <div class="comment-content">
                                                        <p>
                                                            <span class="strong bold">Rosie Lee</span>
                                                            <span class="text-muted"> - 6 tháng 8,2015 lúc 4:36 pm - </span>
                                                            <span class="strong bold"><i class="fa fa-mail-reply"></i> Trả lời</span>
                                                        </p>
                                                        <p>
                                                            Chúng tôi biết rằng làm việc với đoạn văn bản dễ đọc rõ nghĩa sẽ đem đên cho bạn một
                                                            trải nghiệm rất tuyệt vời. Vì thế chúng tôi mong bạn tiếp tục gắn bó với chúng tôi.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-lg-12" style="display:inline-flex;">
                                                    <img src="~/assets/images/blog/blog/avatar-img.jpg" alt="" class="img-circle" />
                                                    <div class="comment-content">
                                                        <p>
                                                            <span class="strong bold">Rosie Lee</span>
                                                            <span class="text-muted"> - 6 tháng 8,2015 lúc 4:36 pm - </span>
                                                            <span class="strong bold"><i class="fa fa-mail-reply"></i> Trả lời</span>
                                                        </p>
                                                        <p>
                                                            Chúng tôi biết rằng làm việc với đoạn văn bản dễ đọc rõ nghĩa sẽ đem đên cho bạn một
                                                            trải nghiệm rất tuyệt vời. Vì thế chúng tôi mong bạn tiếp tục gắn bó với chúng tôi.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-lg-12" style="display:inline-flex;">
                                                    <img src="~/assets/images/blog/blog/avatar-img.jpg" alt="" class="img-circle" />
                                                    <div class="comment-content">
                                                        <p>
                                                            <span class="strong bold">Rosie Lee</span>
                                                            <span class="text-muted"> - 6 tháng 8,2015 lúc 4:36 pm - </span>
                                                            <span class="strong bold"><i class="fa fa-mail-reply"></i> Trả lời</span>
                                                        </p>
                                                        <p>
                                                            Chúng tôi biết rằng làm việc với đoạn văn bản dễ đọc rõ nghĩa sẽ đem đên cho bạn một
                                                            trải nghiệm rất tuyệt vời. Vì thế chúng tôi mong bạn tiếp tục gắn bó với chúng tôi.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="border-bottom"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>VIẾT BÌNH LUẬN</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="write-comment">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input class="form-control none-border" type="text" name="name" value="" style="width: 100%" placeholder="Họ tên *" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input class="form-control none-border" type="password" name="email" value="" style="width: 100%" placeholder="Email *" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input class="form-control none-border" type="text" name="tittle" value="" style="width: 100%" placeholder="Tiêu đề" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <textarea class="form-control none-border" name="comment" value="" style="width: 100%; height: 95px;" placeholder="Nhận xét *"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <a href="#" class="btn btn-default none-border pull-right" style="background-color: black; color: white;">GỬI NHẬN XÉT</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

